.about-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0% 10%;
}

.about-card img {
    position: relative;
    height: auto; 
    width: auto; 
    max-width: 20rem;
    max-height: 25rem;
    border-radius: 2rem;
}

.info {
    display: flex;
    justify-content: flex-start;
}

.about-card h3 {
    max-width: auto;
}