.about-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0% 10%;
}

.about-card img {
    height: auto; 
    width: 100%;
    max-width: 30rem;
    max-height: 35rem;
    border-radius: 2rem;
}

.info {
    display: flex;
    justify-content: flex-start;
}

.about-card h3 {
    max-width: auto;
}