.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3% 10%;
}

.card {
    display: flex;
    margin: 1rem 0rem;
}

.card img {
    position: relative;
    height: auto; 
    width: auto; 
    max-width: 20rem;
    max-height: 25rem;
}

.card h4 {
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 1.5rem;
    bottom: 1rem;
    color: white;
}

.view {
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 1.5rem;
    bottom: 0.7rem;
    color: white;
}

.view h5 {
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 1.5rem;
    margin: 0;
    color: white;
}


