.container-div {
    margin: 4rem 0rem;
}

.container-div h3 {
    display: flex;
    justify-content: flex-start;
}

.card {
    min-height: auto;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
}

.card img {
    border-radius: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}